/* 
    Created on : 05 mai 2020
    Author     : Franck J.
*/

/*------------------------------- 
        main components
--------------------------------- */
body {
  padding-top: 70px;
  background: rgb(122, 229, 251);
  background: linear-gradient(
    68deg,
    rgba(122, 229, 251, 1) 0%,
    rgba(123, 174, 244, 1) 15%,
    rgba(65, 125, 191, 1) 40%,
    rgba(224, 87, 233, 1) 70%,
    rgba(77, 2, 68, 1) 100%
  );
  background-repeat: no-repeat;
  color: #2b272b;
  /* font import */
  font-family: "Oswald", sans-serif;
}

/*------------------------------- 
        form components
--------------------------------- */
.form-control {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid grey !important;
  border-radius: 0 !important;
}

/*-- bg valid button --*/
.btn-valid-gradient {
  border-radius: 50px;
  border-color: rgb(148, 237, 255);
  background: linear-gradient(
    90deg,
    rgba(148, 237, 255, 1) 0%,
    rgba(65, 125, 191, 1) 40%,
    rgba(246, 0, 217, 1) 100%
  );
  font-size: 18px;
}

/*-- register button --*/
.btn-register-gradient {
  border-radius: 50px;
  background: rgb(39, 36, 78);
  background: linear-gradient(
    260deg,
    rgba(39, 36, 78, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 18px;
}

/*-- reset button --*/
.btn-reset-gradient {
  border-radius: 50px;
  background: rgb(91, 181, 0);
  background: linear-gradient(
    90deg,
    rgba(91, 181, 0, 1) 0%,
    rgba(9, 113, 121, 1) 25%,
    rgba(76, 82, 228, 1) 61%,
    rgba(179, 0, 255, 1) 100%
  );
  font-size: 18px;
}

/*-- update profile button --*/
.btn-circle {
  background-color: #4caf50;
  border: none;
  color: white;
  padding-top: 7px;
  padding-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btn-md {
  border-radius: 50%;
}
